.blue-box{
    background-color: royalblue;
    height: 50px;
    border: white 1px solid;
    line-height: 50px;
    text-align: center;
    color: white;
}

.green-box{
    background-color: green;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: royalblue 1px solid;
    color: white;
}

.pad-10px{
    padding: 10px;
}

/* Small */

@media screen and (min-width: 576px) {

}

/* Medium */

@media screen and (min-width: 768px) {

}

/* Large */

@media screen and (min-width: 992px) {

}

/* Extra-Large */

@media screen and (min-width: 1200px) {

}

/* Extra-extra-Large */

@media screen and (min-width: 1400px) {

}